html{
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    display: grid;
    margin: 0;
    box-sizing: border-box;
    color: #3d3c3c;
    background:linear-gradient(to right, #a1a7b7, #adb8ce, #a1a7b7) !important;
    /*Linear Gradients (goes down/up/left/right/diagonally)*/
    height: 100vh;
    grid-template-columns: minmax(4rem, 7rem) repeat(3, 1fr) minmax(4rem, 7rem);
    grid-template-rows: 12rem repeat(5, 1fr);
}
.nav-name{
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    margin-left: 2rem;
    transform: skewY(-2deg) translateY(11.5rem);
    
}
.nav-name a{
    text-decoration: none;
    color: #6d6a6a;
    transition: 0.2s;
}
.nav-name a:hover{
    color: black;
}
.nav-ul{
    transform: skewY(-2deg) translateY(11.5rem);
    list-style: none;
    display: flex;
    margin-right: 4rem;
    margin-bottom: 4rem;
}
.nav-ul a{
    text-decoration: none;
    color: #3d3c3c;
    margin-left: 2rem;
    font-size: 2.5rem;
    transition: 0.2s ease-out;
    
}
.nav-ul a:hover{
    color: black;
    text-decoration: underline;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
    background-color: white;
    align-items: center;
    border-bottom: 2px solid black;
    transform: skewY(2deg) translateY(-22rem);
    box-shadow: 2px 1px 8px black;
    z-index: 10;
}
header{
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    background-color: white;
    height: 40rem;
    border-radius: 15px;
    transform: skewY(2deg);
    border: 5px solid #ffd43b;
}
.header-body{
    display: flex;
}
.header-ul{
    list-style: none;
    transform: skewY(-2deg);
    transform: translateY(6rem);
}
.header-ul a{
    font-size: 3rem;
    color: gray;
    transition: 0.2s;
    
}
.header-ul li{
    margin-bottom: 4rem;
}
.header-ul a:hover{
    color: black;
}
.descrip{
    transform: skewY(-2deg);
    align-self: center;
    margin-left: 4rem;
    color: #3d3c3c;
}
.descrip h1{
    font-size: 3rem;
    font-weight: bold;
    color: black;
}
.descrip p{
    font-size: 2rem;
    text-align: justify;
}
.bout-pic img{
    height: 25rem;
    border: 6px solid #ffd43b;
    border-radius: 100px; 
}
.bout-pic{
    margin-left: 7rem;
    font-size: 2rem;
    text-align: center;
}
.title{
    margin-top: 1rem;
    text-align: center;
    font-size: 4rem;
    color: black;
}
main{
    grid-row: 3 / 4;
    grid-column: 2 / 5;
    height: 100vh;
    margin-top: 15rem;
}
.c-first{
    display: flex;
    background: linear-gradient(#a5a0a0, white, #a5a0a0 );
    width: 80%;
    height: 30rem;
    transform: translateX(12.5rem);
    background-color: white;
    border-radius: 15px;
    border: 6px solid #ffd43b;
    justify-content: space-between;
    
}
.c-first h1{
    font-size: 5rem;
}
.c-first img{
    margin-top: 5rem;
}
.c-descrip{
    margin-left: 3rem;
    margin-top: 5rem;
    font-size: 2rem;
}
.c-first img{
    width: 30rem;
    height: 12rem;
}
.c-first button{
    position: relative;
    background-color: #ffd43b;
    right: 22.5rem;
    top: 12rem;
    border-radius: 12px;
    width: 16rem;
    height: 5rem;
    border: 1px solid #183153;
    box-shadow: 0px 5px #183153;
    font-size: 1.5rem;
    transition: 0.2s;
}
.c-first button:hover{
    background-color: #f2ae3a;
}
.c-second{
    display: flex;
    background: linear-gradient(#a5a0a0, white, #a5a0a0 );
    width: 80%;
    height: 30rem;
    transform: translateX(12.5rem);
    background-color: white;
    border-radius: 15px;
    border: 6px solid #ffd43b;
    justify-content: space-between;
}

.c-third{
    display: flex;
    background: linear-gradient(#a5a0a0, white, #a5a0a0 );
    width: 80%;
    height: 30rem;
    transform: translateX(12.5rem);
    background-color: white;
    border-radius: 15px;
    border: 6px solid #ffd43b;
    justify-content: space-between;
}
footer{
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    background-color: white;
}
.title2{
    color: black;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
}


/*MAKE YOUR CODE MORE EFFICIENT, I JUSR CREATED A SECTION CALLED "CARRU", PUT ALL THE CODE YOU NEED UNDER THIS TAG SO YOU WONT BE REPEATING IT */
/*MAKE YOUR PIC INTERACTIVE */
/*FINISH CARRU */
/*FINISH SKILLS, CONTACT ME AND FOOTER*/
/*MAKE SURE THE NAV BAR SHIFTS ITS FORM WHEN YOU SCROLL DOWN*/
/*COPY ALL YOUR PROECTS INSIDE THIS FOLDER JUST IN CASE*/